body {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    color: #212121;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}

a, a:visited {
    text-decoration: none;
    color: #212121;
}

.content a, .content a:visited {
    text-decoration: none;
    color: #777;
}

header {
    width: 80vw;
    margin: 1em auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

nav .home {
    font-weight: 600;
    font-size: 2em;
}

.hero-image {
    background: url("./MonoFlower.jpg");
    background-size: cover;
    background-origin: content-box;
    background-position-y: 50%;
    width: 100%;
    height: 30vh;
}

.content {
    width: 80vw;
    margin: 2em auto 0;
}

.realm-navigation {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.whitespace {
    flex: 1;
    min-height: 2em;
}

.realm-navigation article {
    width: 60vw;
    text-align: center;
    box-shadow: 0 0 5px #111;
    line-height: 2em;
    position: relative;
    transition: all 0.1s ease-in-out;
    margin-bottom: 1em;
}
.realm-navigation article:hover {
    transform: scale(1.02);
}
.realm-navigation article div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 2em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    padding: 1em 0.5em;
}

.realm-navigation article::before {
    content: '';
    display: block;
    width: 60vw;
    height: 60vw;
    background: url("./Katja.jpeg");
    background-size: cover;
    background-origin: content-box;
    background-position-x: center;
}

.realm-navigation article.health-coach::before {
    background: url("./MonoFlower.jpg");
    background-size: cover;
    background-position-y: center;
}
.realm-navigation article.pm::before {
    background: url("./PM.jpg");
    background-size: cover;
    background-position-y: center;
}
.realm-navigation article.yoga::before {
    background: url("./Yoga.jpg");
    background-size: cover;
    background-position-x: 87%;
}

.connect {
    display: flex;
    justify-content: center;
}

.mail:hover .icon path {
    d: path("M16.5 3l-12.5 11v14.006c0 1.101 0.89 1.994 2.004 1.994h20.993c1.107 0 2.004-0.895 2.004-1.994v-14.006l-12.5-11zM13.5 23h6l7 6h-20l7-6zM16.5 4.3l11 9.7-9 8h-4l-9-8 11-9.7zM27.685 28.725l-7.685-6.708 8-7.017v13c0 0.283-0.121 0.542-0.315 0.725v0 0zM5.315 28.725v0 0c-0.194-0.183-0.315-0.442-0.315-0.725v-13l8 7.017-7.685 6.708z");
}

.icon {
    color: #212121;
    display: inline-block;
    width: 4em;
    height: 4em;
    stroke-width: 0.5;
    stroke: currentColor;
    fill: currentColor;
}

.card {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ddd;
    padding: 1em;
    box-shadow: 0 0 10px #ddd;
}

.card h2 {
    font-size: 2em;
}

.card img {
    align-self: flex-start;
    width: 70vw;
    height: 70vw;
    object-fit: cover;
    margin-bottom: 1em;
}
.card div {
    width: 70vw;
}
.card ul {
    list-style: none;
}
.card li {
    padding: 0.5em 2em;
    line-height: 20px;
    position: relative;
    font-size: 1.1em;
}
.card li:before {
    position: absolute;
    content: ' ';
    font-weight: 900;
    font-size: 1.2em;
    width: 40px;
    display: inline-block;
    height: 20px;
    left: 0;
    top: 8px;
}
.card li.yoga:before {
    content: 'à¥';
}
.card li.passion:before {
    background: url('./heart.svg') no-repeat;
    background-size: 20px 20px;
}
.card li.location:before {
    background: url('./location.svg') no-repeat;
    background-size: 20px 20px;
}
.card li.language:before {
    background: url('./bubble2.svg') no-repeat;
    background-size: 20px 20px;
}

.bullets {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    flex-direction: row;
}

.four-way {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bullets img {
    align-self: flex-start;
    width: 40%;
}
.bullets ul {
    list-style: disc;
    width: 80%;
    padding-left: 1em;
    margin-left: 1em;
}

.four-way > * {
    width: 50%;
    margin-bottom: 1em;
}

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery div {
    width: 100%;
    margin-bottom: 1em;
}

.gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h3 {
    font-weight: 700;
    font-size: 1.1em;
}

strong {
    font-weight: 700;
}

footer nav {
    width: 80vw;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
}

footer nav article {
    width: 25%;
}
footer nav article:nth-child(2) {
    text-align: center;
}
footer nav article:last-child {
    text-align: right;
}

footer {
    width: 100vw;
    border-top: 1px solid;
    background: #212121;
    color: #fff;
}

footer a, footer a:visited {
    color: #fff;
}

@media screen and (min-width: 800px) {
    .realm-navigation {
        justify-content: space-between;
    }
    .realm-navigation article {
        width: 24vw;
    }
    .realm-navigation article::before {
        width: 24vw;
        height: 27vw;
    }
    .card {
        justify-content: space-between;
    }
    .card img {
        width: 30vw;
        height: 30vw;
        max-width: 300px;
        max-height: 300px;
        margin-bottom: 0;
    }
    .card div {
        width: 55%;
    }
    .four-way {
        flex-wrap: nowrap;
    }
    .four-way > * {
        width: 20%;
        margin-bottom: 1em;
    }
    .gallery div {
        width: 31%;
        margin-bottom: 1em;
    }
    footer nav article {
        width: 33%;
    }
}
