body {
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    color: #222;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

header {
    width: 80vw;
    margin: 1em auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

nav .home {
    font-weight: 600;
    font-size: 2em;
}

.hero-image {
    background: url("./MonoFlower.jpg");
    background-size: cover;
    background-origin: content-box;
    background-position-y: 50%;
    width: 100%;
    height: 30vh;
}

.content {
    width: 80vw;
    margin: 2em auto 0;
}

.realm-navigation {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.whitespace {
    flex: 1;
    min-height: 2em;
}

.realm-navigation article {
    width: 60vw;
    text-align: center;
    box-shadow: 0px 0px 5px #111;
    line-height: 2em;
    margin-bottom: 2em;
}

.realm-navigation article::before {
    content: '';
    display: block;
    width: 60vw;
    height: 60vw;
    background: url("./Katja.jpeg");
    background-size: cover;
    background-origin: content-box;
    background-position-x: center;
}

.realm-navigation article.health-coach::before {
    background: url("./MonoFlower.jpg");
    background-size: cover;
    background-origin: content-box;
    background-position-y: center;
}

@media screen and (min-width: 800px) {
    .realm-navigation {
        justify-content: space-between;
    }
    .realm-navigation article {
        width: 23vw;
    }
    .realm-navigation article::before {
        width: 23vw;
        height: 27vw;
    }
}

footer nav {
    width: 80vw;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
}

footer {
    width: 100vw;
    border-top: 1px solid;
}
